{% extends 'base.html.twig'%}
{% block body %}
  <div class="wrapper">
    <div class="container">
      <h1> Page de test </h1>
      <p> Ceci est la page de test. Accrochez-vous !</p>
    </div>
  </div>
{% endblock %}
