{% extends 'base.html.twig' %}
{% block body %}
<body>
  <div class="container">
    <h1>Nos Ventes</h1>
    {% for selling in sellings %}
      <div class="jumbotron">
        <p>
          <h2>{{selling.typeId.model}}
            <small>{{selling.userId.username}}</small>
          </h2>
          <h2>n° de serie:
            {{selling.count}}
            <small>
              date</small>
          </h2>
        </p>
      </div>
    {% endfor %}
  </body>



  {% endblock %}
